<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>All Surveys</h1>
    <% @surveys.each do |survey| %>

      <p><%= link_to survey.title, survey_path(survey) %></p>

    <% end %>
  </div>
</div>