<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @survey.title %></h1>
    <% @survey.questions.each do |question| %>

      <p><%= question.content %></p>

    <% end %>
    <%= link_to "Edit", edit_survey_path(@survey) %>
    <%= link_to "Delete", survey_path(@survey), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
</div>